body {
  font-family: "Geom", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  /* background-image: linear-gradient(#334feb, #2000bf); */
  background-image: url("img/bg_pattern.png");
  padding: 25px;
  font-size: large;
}

a:visited {
  color: #a0b6ff;
}

a {
  color: #d2ddff;
}

.section_links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10rem;
}

.section_link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 256px;
}

.project-section {
  padding: 5rem 10rem;
}

.image-paragraph {
  justify-self: center;
  display: flex;
  column-gap: 3rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.carousel-btn {
  color: white;
  font-size: 5rem;
}

@media (max-width: 600px) {
  .section_links {
    margin-top: 0px;
  }
  .section_link {
    margin-top: 3rem;
  }
  .project-section {
    padding: 1rem;
  }
  img {
    max-width: 256px;
  }
  .image-paragraph {
    column-gap: 1rem;
  }
}
